## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import ModelCheckpoint
import os

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Check for nulls
application_df.isnull().sum()

EIN                       0
NAME                      0
APPLICATION_TYPE          0
AFFILIATION               0
CLASSIFICATION            0
USE_CASE                  0
ORGANIZATION              0
STATUS                    0
INCOME_AMT                0
SPECIAL_CONSIDERATIONS    0
ASK_AMT                   0
IS_SUCCESSFUL             0
dtype: int64

In [3]:
# Check for duplicates
application_df.duplicated().sum()

0

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
cleanapplication_df = application_df.drop(['EIN', 'NAME'], axis=1)
cleanapplication_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [5]:
# Determine the number of unique values in each column.
unique_values = cleanapplication_df.nunique()
unique_values

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [6]:
# Determine the number of data points for columns with more than 10 unique values
# Get the list of columns with more than 10 unique values
plustenvalues = cleanapplication_df.columns[cleanapplication_df.nunique() > 10]
plustenvalues

Index(['APPLICATION_TYPE', 'CLASSIFICATION', 'ASK_AMT'], dtype='object')

In [7]:
# Look at APPLICATION_TYPE value counts for binning
app_type = cleanapplication_df['APPLICATION_TYPE'].value_counts()
app_type

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff = 500
application_types_to_replace = list(app_type[app_type < cutoff].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [9]:
# Look at CLASSIFICATION value counts for binning
class_type = cleanapplication_df['CLASSIFICATION'].value_counts()
class_type

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [10]:
# You may find it helpful to look at CLASSIFICATION value counts >1
final_class_type = class_type[class_type > 1]
final_class_type

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [11]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
class_cutoff = 1000
class_type = cleanapplication_df['CLASSIFICATION'].value_counts()
classifications_to_replace = list(class_type[class_type < class_cutoff].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [12]:
# Convert categorical data to numeric with `pd.get_dummies`
d_application_df = pd.get_dummies(cleanapplication_df)
d_application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [13]:
# Split our preprocessed data into our features and target arrays
X = d_application_df.drop("IS_SUCCESSFUL", axis=1).values
y = d_application_df["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 10)

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [15]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=100, activation='relu', input_dim=116))


# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=100, activation='relu'))


# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               11700

 dense_1 (Dense)             (None, 100)               10100

 dense_2 (Dense)             (None, 1)                 101

=================================================================
Total params: 21,901
Trainable params: 21,901
Non-trainable params: 0
_________________________________________________________________

In [16]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [17]:
# Create a callback that saves the model's weights every five epochs

# First create the file to save the weights and save as HDF5 file
os.makedirs('weights/', exist_ok=True)
checkpoint_path= 'weights/weights.{epoch}.hdf5'

cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    save_weights_only=True,
    save_freq="epoch",
    period=5,
    verbose=1
)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [18]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100, callbacks=[cp_callback])

Epoch 1/100
804/804 [==============================] - 13s 3ms/step - loss: 0.5734 - accuracy: 0.7225
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5550 - accuracy: 0.7314
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5499 - accuracy: 0.7325
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5484 - accuracy: 0.7318
Epoch 5/100
785/804 [============================>.] - ETA: 0s - loss: 0.5466 - accuracy: 0.7349
Epoch 5: saving model to weights\weights.5.hdf5
804/804 [==============================] - 39s 48ms/step - loss: 0.5467 - accuracy: 0.7352
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7350
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7349
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5437 - accuracy: 0.7355
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7364
Epoch 10/100
795/804 [============================>.] - ETA: 0s - loss: 0.5418 - accuracy: 0.7362
Epoch 10: saving model to weights\weights.10.hdf5
804/804 [==============================] - 3s 3ms/step - loss: 0.5417 - accuracy: 0.7365
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7368
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7364
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7368
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7398
Epoch 15/100
801/804 [============================>.] - ETA: 0s - loss: 0.5396 - accuracy: 0.7385
Epoch 15: saving model to weights\weights.15.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7385
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7395
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7381
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7388
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7395
Epoch 20/100
800/804 [============================>.] - ETA: 0s - loss: 0.5370 - accuracy: 0.7402
Epoch 20: saving model to weights\weights.20.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5369 - accuracy: 0.7402
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7393
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7398
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7395
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5353 - accuracy: 0.7406
Epoch 25/100
801/804 [============================>.] - ETA: 0s - loss: 0.5356 - accuracy: 0.7410
Epoch 25: saving model to weights\weights.25.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5356 - accuracy: 0.7411
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5349 - accuracy: 0.7415
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7409
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7405
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7415
Epoch 30/100
797/804 [============================>.] - ETA: 0s - loss: 0.5337 - accuracy: 0.7421
Epoch 30: saving model to weights\weights.30.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5342 - accuracy: 0.7419
Epoch 31/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5342 - accuracy: 0.7412
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5332 - accuracy: 0.7414
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5328 - accuracy: 0.7415
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5331 - accuracy: 0.7414
Epoch 35/100
793/804 [============================>.] - ETA: 0s - loss: 0.5328 - accuracy: 0.7420
Epoch 35: saving model to weights\weights.35.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5327 - accuracy: 0.7423
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5328 - accuracy: 0.7429
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5321 - accuracy: 0.7427
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5324 - accuracy: 0.7423
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5321 - accuracy: 0.7420
Epoch 40/100
793/804 [============================>.] - ETA: 0s - loss: 0.5328 - accuracy: 0.7420
Epoch 40: saving model to weights\weights.40.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5326 - accuracy: 0.7422
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5316 - accuracy: 0.7428
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5314 - accuracy: 0.7421
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5311 - accuracy: 0.7427
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5313 - accuracy: 0.7432
Epoch 45/100
797/804 [============================>.] - ETA: 0s - loss: 0.5314 - accuracy: 0.7426
Epoch 45: saving model to weights\weights.45.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5315 - accuracy: 0.7425
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5306 - accuracy: 0.7432
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5307 - accuracy: 0.7427
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5305 - accuracy: 0.7429
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5304 - accuracy: 0.7432
Epoch 50/100
786/804 [============================>.] - ETA: 0s - loss: 0.5313 - accuracy: 0.7427
Epoch 50: saving model to weights\weights.50.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5306 - accuracy: 0.7432
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5302 - accuracy: 0.7436
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5299 - accuracy: 0.7428
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5310 - accuracy: 0.7429
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5295 - accuracy: 0.7428
Epoch 55/100
775/804 [===========================>..] - ETA: 0s - loss: 0.5293 - accuracy: 0.7433
Epoch 55: saving model to weights\weights.55.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5294 - accuracy: 0.7431
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5296 - accuracy: 0.7439
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5300 - accuracy: 0.7433
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5295 - accuracy: 0.7432
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5293 - accuracy: 0.7434
Epoch 60/100
769/804 [===========================>..] - ETA: 0s - loss: 0.5293 - accuracy: 0.7438
Epoch 60: saving model to weights\weights.60.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5294 - accuracy: 0.7437
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5290 - accuracy: 0.7440
Epoch 62/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5290 - accuracy: 0.7439
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5291 - accuracy: 0.7438
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5287 - accuracy: 0.7446
Epoch 65/100
787/804 [============================>.] - ETA: 0s - loss: 0.5288 - accuracy: 0.7434
Epoch 65: saving model to weights\weights.65.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5285 - accuracy: 0.7438
Epoch 66/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5283 - accuracy: 0.7434
Epoch 67/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5283 - accuracy: 0.7440
Epoch 68/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5286 - accuracy: 0.7441
Epoch 69/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5289 - accuracy: 0.7442
Epoch 70/100
800/804 [============================>.] - ETA: 0s - loss: 0.5278 - accuracy: 0.7445
Epoch 70: saving model to weights\weights.70.hdf5
804/804 [==============================] - 4s 5ms/step - loss: 0.5279 - accuracy: 0.7444
Epoch 71/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5276 - accuracy: 0.7440
Epoch 72/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5280 - accuracy: 0.7438
Epoch 73/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5280 - accuracy: 0.7441
Epoch 74/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5284 - accuracy: 0.7435
Epoch 75/100
796/804 [============================>.] - ETA: 0s - loss: 0.5283 - accuracy: 0.7435
Epoch 75: saving model to weights\weights.75.hdf5
804/804 [==============================] - 3s 4ms/step - loss: 0.5281 - accuracy: 0.7437
Epoch 76/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5282 - accuracy: 0.7441
Epoch 77/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5279 - accuracy: 0.7440
Epoch 78/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5281 - accuracy: 0.7441
Epoch 79/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5278 - accuracy: 0.7443
Epoch 80/100
799/804 [============================>.] - ETA: 0s - loss: 0.5275 - accuracy: 0.7441
Epoch 80: saving model to weights\weights.80.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5276 - accuracy: 0.7442
Epoch 81/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5290 - accuracy: 0.7448
Epoch 82/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5289 - accuracy: 0.7441
Epoch 83/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5275 - accuracy: 0.7439
Epoch 84/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5278 - accuracy: 0.7445
Epoch 85/100
782/804 [============================>.] - ETA: 0s - loss: 0.5270 - accuracy: 0.7448
Epoch 85: saving model to weights\weights.85.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5274 - accuracy: 0.7444
Epoch 86/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5271 - accuracy: 0.7441
Epoch 87/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5270 - accuracy: 0.7443
Epoch 88/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5266 - accuracy: 0.7444
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5272 - accuracy: 0.7443
Epoch 90/100
785/804 [============================>.] - ETA: 0s - loss: 0.5273 - accuracy: 0.7444
Epoch 90: saving model to weights\weights.90.hdf5
804/804 [==============================] - 3s 4ms/step - loss: 0.5273 - accuracy: 0.7442
Epoch 91/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5273 - accuracy: 0.7444
Epoch 92/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5295 - accuracy: 0.7440
Epoch 93/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5267 - accuracy: 0.7441
Epoch 94/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5269 - accuracy: 0.7451
Epoch 95/100
784/804 [============================>.] - ETA: 0s - loss: 0.5260 - accuracy: 0.7442
Epoch 95: saving model to weights\weights.95.hdf5
804/804 [==============================] - 3s 3ms/step - loss: 0.5263 - accuracy: 0.7441
Epoch 96/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5265 - accuracy: 0.7442
Epoch 97/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5267 - accuracy: 0.7445
Epoch 98/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5277 - accuracy: 0.7436
Epoch 99/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5270 - accuracy: 0.7437
Epoch 100/100
795/804 [============================>.] - ETA: 0s - loss: 0.5271 - accuracy: 0.7440
Epoch 100: saving model to weights\weights.100.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5273 - accuracy: 0.7440

In [19]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 17s - loss: 0.6030 - accuracy: 0.7289 - 17s/epoch - 64ms/step
Loss: 0.6029658317565918, Accuracy: 0.728863000869751

In [20]:
# Export our model to HDF5 file
nn_model.save('h5Files/AlphabetSoupCharity.h5')